<a href="https://colab.research.google.com/github/JMawyin/Tradewater/blob/main/TradewaterV2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/gdrive')
drive.mount('/content/drive')

Mounted at /gdrive
Mounted at /content/drive

In [2]:


import pandas as pd

## Q13.

13. In a scripting language of your choice, write a program that runs the SQL code you wrote for question 9 and writes the output into a comma separated file. Please provide the output file and your program.

In [3]:
Q13_save_pth = '/content/drive/MyDrive/Datasets/Tradewater/'

In [4]:
cons_df = pd.read_csv('/content/drive/MyDrive/Datasets/Tradewater/cons.csv')
cons_df.head(2)

   cons_id gender  age_id
0        1      M       1
1        2      F       0

In [5]:
cons_action_df = pd.read_csv('/content/drive/MyDrive/Datasets/Tradewater/cons_action.csv')
cons_action_df.head(2)

   cons_action_id  cons_id
0               1   363443
1               2   181414

In [6]:
mailing_df = pd.read_csv('/content/drive/MyDrive/Datasets/Tradewater/mailing.csv')
mailing_df.head(2)

   mailing_id mailing_name
0           1    Mailing A
1           2    Mailing B

In [7]:
mailing_recipient_df = pd.read_csv('/content/drive/MyDrive/Datasets/Tradewater/mailing_recipient.csv')
mailing_recipient_df.head(2)

   mailing_recipient_id  mailing_id  cons_id
0                     1           1   315101
1                     2           1   284681

In [8]:
mailing_recipient_click_df = pd.read_csv('/content/drive/MyDrive/Datasets/Tradewater/mailing_recipient_click.csv')
mailing_recipient_click_df.head(2)

   mailing_recipient_click_id  ...  mailing_recipient_id
0                           1  ...                439669
1                           2  ...                 49854

[2 rows x 3 columns]

In [9]:
import sqlite3
conn = sqlite3.connect('Tradewater.db')
c = conn.cursor()

cons_df.to_sql('cons', conn, if_exists='replace', index = False)
cons_action_df.to_sql('cons_action', conn, if_exists='replace', index = False)
mailing_df.to_sql('mailing', conn, if_exists='replace', index = False)
mailing_recipient_df.to_sql('mailing_recipient', conn, if_exists='replace', index = False)
mailing_recipient_click_df.to_sql('mailing_recipient_click', conn, if_exists='replace', index = False)

For each of the three fundraising emails, please provide a topline summary of its performance as well as the SQL code you used to generate that summary. The summary should contain the following fields:

### Recipient count

In [10]:
query = '''SELECT COUNT(DISTINCT mailing_recipient_id) FROM mailing_recipient;'''
Recipient_query = c.execute(query).fetchall()
Recipient_df = pd.DataFrame(Recipient_query, columns =['Recipient_Count'])
  
Recipient_df.head()

   Recipient_Count
0           500000

In [11]:
file_name = Q13_save_pth + 'TWQ13_Recipient_Count.csv'
Recipient_df.to_csv (file_name, index = False, header=True)

### Open Count

In [12]:
query = '''SELECT mailing_recipient_click_type_id, count(mailing_recipient_click_type_id) FROM mailing_recipient_click
WHERE mailing_recipient_click_type_id = 2'''
OC_query = c.execute(query).fetchall()
OC_df = pd.DataFrame(OC_query, columns = ['mailing_recipient_click_type_id', 'count(mailing_recipient_click_type_id)'])
OC_df.head(2)

   mailing_recipient_click_type_id  count(mailing_recipient_click_type_id)
0                                2                                   41663

In [13]:
file_name = Q13_save_pth + 'TWQ13_OpenCount.csv'
OC_df.to_csv (file_name, index = False, header=True)

### Opens per Recipient

In [14]:
query = '''SELECT mailing_recipient_id, count(mailing_recipient_click_type_id)  FROM mailing_recipient_click
WHERE mailing_recipient_click_type_id = 2
GROUP BY mailing_recipient_id
ORDER BY 1;'''
OpR_query = c.execute(query).fetchall()
OpR_df = pd.DataFrame(OpR_query, columns = ['mailing_recipient_id', 'count(mailing_recipient_click_type_id)'])
OpR_df.head(2)

   mailing_recipient_id  count(mailing_recipient_click_type_id)
0                     3                                       1
1                    16                                       1

In [15]:
file_name = Q13_save_pth + 'TWQ13_OpR.csv'
OpR_df.to_csv (file_name, index = False, header=True)

### Click count

In [16]:
query = '''SELECT mailing_recipient_click_type_id, count(mailing_recipient_click_type_id) FROM mailing_recipient_click
WHERE mailing_recipient_click_type_id = 1;'''
CC_query = c.execute(query).fetchall()
CC_df = pd.DataFrame(CC_query, columns = ['mailing_recipient_click_type_id', 'count(mailing_recipient_click_type_id)'])
CC_df.head(2)

   mailing_recipient_click_type_id  count(mailing_recipient_click_type_id)
0                                1                                    2158

In [17]:
file_name = Q13_save_pth + 'TWQ13_CC.csv'
CC_df.to_csv (file_name, index = False, header=True)

### Clicks per recipient

In [18]:
query = '''SELECT mailing_recipient_id, count(mailing_recipient_click_type_id)  FROM mailing_recipient_click
WHERE mailing_recipient_click_type_id = 1
GROUP BY mailing_recipient_id
ORDER BY 1;'''
CpR_query = c.execute(query).fetchall()
CpR_df = pd.DataFrame(CpR_query, columns = ['mailing_recipient_id', 'count(mailing_recipient_click_type_id)'])
CpR_df.head(2)

   mailing_recipient_id  count(mailing_recipient_click_type_id)
0                     3                                       1
1                   591                                       1

In [19]:
file_name = Q13_save_pth + 'TWQ13_CpR.csv'
CpR_df.to_csv (file_name, index = False, header=True)

### Number of Actions

In [20]:
query = '''SELECT COUNT(DISTINCT cons_action_id) FROM cons_action;'''
NoA_query = c.execute(query).fetchall()
NoA_df = pd.DataFrame(NoA_query, columns = ['COUNT(DISTINCT cons_action_id)'])
NoA_df.head(2)

   COUNT(DISTINCT cons_action_id)
0                             634

In [21]:
file_name = Q13_save_pth + 'TWQ13_NoA.csv'
NoA_df.to_csv (file_name, index = False, header=True)

### Actions Per Recipient

In [22]:
query = '''SELECT cons_id, COUNT(cons_action_id) FROM cons_action
GROUP BY cons_id
ORDER BY 2 DESC;'''
ApR_query = c.execute(query).fetchall()
ApR_df = pd.DataFrame(ApR_query, columns = ['cons_id', 'COUNT(cons_action_id)'])
ApR_df.head(2)

   cons_id  COUNT(cons_action_id)
0      787                      1
1     2930                      1

In [23]:
file_name = Q13_save_pth + 'TWQ13_ApR.csv'
ApR_df.to_csv (file_name, index = False, header=True)

## Q14. 

Github, the software version control website maintains an API with which developers can interact with their services (https://docs.github.com/en/rest). Use the Github API to create a list of all repositories associated with an account of your choosing (e.g. Mozilla - https://github.com/mozilla). Please export the ID, Name, Description and URL fields for each repository into a human-readable CSV file. Please provide all code used (excluding any private or authenticating information from your own account) as well as the final CSV file. Please select an account with at least three repositories for export. You may use the language or toolset you are most familiar with.

In [24]:
import requests
import pandas as pd
repo_info_df = pd.DataFrame(columns = ['Project_Number', 'Project_Name', 'Project_Description', 'Project URL'])
username = input("Enter the github username:")
request = requests.get('https://api.github.com/users/'+username+'/repos')
json = request.json()
for i in range(0,len(json)):
  repo_info_df = repo_info_df.append({'Project_Number' : i+1, 'Project_Name' : json[i]['name'], 'Project_Description' : json[i]['description'], 'Project URL': json[i]['svn_url']},ignore_index = True)
repo_info_df.head(10)

Enter the github username:mozilla

  Project_Number  ...                                        Project URL
0              1  ...                 https://github.com/mozilla/123done
1              2  ...  https://github.com/mozilla/2018-global-sprint-...
2              3  ...       https://github.com/mozilla/able-registry-dev
3              4  ...  https://github.com/mozilla/about-home-jumping-...
4              5  ...  https://github.com/mozilla/about-home-persona-...
5              6  ...  https://github.com/mozilla/about-home-piano-sn...
6              7  ...                     https://github.com/mozilla/ace
7              8  ...                 https://github.com/mozilla/acidity
8              9  ...  https://github.com/mozilla/action-automatic-re...
9             10  ...            https://github.com/mozilla/action-input

[10 rows x 4 columns]

In [25]:
save_pth = '/content/drive/MyDrive/Datasets/Tradewater/'
file_name = save_pth + 'TradewaterQ14.csv'
repo_info_df.to_csv (file_name, index = False, header=True)